
* {
				margin: 0px;
				padding: 0px;
			}

			a {
				text-decoration: none;
			}

			.clearfix:after {
					
				content: "";
				display: block;
				height: 0;
				visibility: hidden;
				clear: both;
			}

			.clearfix {
				*zoom: 1;
			}

			body {
				background: url(https://images3.alphacoders.com/129/thumbbig-1298880.png) no-repeat;
				background-size: cover;
				background-attachment: fixed;
			}
			
			/* 中间白色背景元素 */
			.content {
				/* 控制中间背景组件宽度 */
				width: 900px;
				/* 控制中间背景组件长度 */
				height: 500px;
				/* 控制中间背景的四边边界 */
				margin: 200px auto 200px auto;
				/* 控制中间白色框曲折 */
				border-radius: 10px 220px / 120px;
				/* 控制中间组件RGBA */
				background-color: rgba(236, 236, 236, 0.59);
				/* 过渡可以为一个元素在不同状态之间切换的时候定义不同的过渡效果 */
				transition: all 1.0s;
				/* 控制中间背景的阴影 */
				/*box-shadow: 0px 0px 20px rgba(0,0,0,0.3);*/
			}
			
			/*控制头像元素*/
			.content img {
				float: left;
				/* 中间图像的长 */
				width: 200px;
				/* 中间图像的宽 */
				height: 200px;
				/* 控制中间图像的四边边界 */
				margin: 65px 0px -22px 350px;
				/* 控制中间图像曲折 */
				border-radius: 100px;
			}
			
			/* 控制后方阴影 */
			.content:hover {
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.52);
			}
			
			/*控制下方互动元素右*/
			.content_r {
				float: right;
				width: 580px;
				margin: 30px 60px 0 0;
				/*	background-color: pink;*/
			}
			
			/*控制下方互动元素左*/
			.content_l {
				float: left;
				width: 75%;
				text-align: center;
			}

			.content_l h5 {

				font-size: 17px;
			}

			.cc {
				margin-top: 10px;
				color: #1F2023;
				font-size: 18px;
			}

			.color_1 {
				color: #4855EC;
				font-size: 18px;
			}

			.deeppink {
				color: deeppink;
			}

			.link {
				margin-top: 10px;
			}
			
			.zf{
				display: block;
				float: none;
				width: auto;
				height: 20px;
				margin: 10px 65px 50px 20px;
			}

			.link a {
				display: block;
				float: left;
				width: 100px;
				height: 50px;
				margin: 100px 5px 100 200px;
				/*	padding: 0 15px;*/
				color: #fff;
				line-height: 50px;
				transition: all 0.8s;
				/*	background-color: deeppink;*/

			}

			.link a:hover {
				background-color: rgba(0, 201, 243, 0.35);
			}

			.deeppink_1 {
				background-color: deeppink;
			}

			.dodgerblue {
				background-color: dodgerblue;
			}

			.magenta {
				background-color: magenta;
			}

			.orange {
				background-color: orange;
			}
			.red {
				background-color: red;
			}
			.Green{
				background-color: black;
			}
			
			